@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

:root {
  /*Primary colors*/
  --Lime: hsl(61, 70%, 52%);
  --Red: hsl(4, 69%, 50%);

  --status: hsl(61, 70%, 52%);

  /*Neutral colors*/
  --White: hsl(0, 0%, 100%);
  --Slate-100: hsl(202, 86%, 94%);
  --Slate-300: hsl(203, 41%, 72%);
  --Slate-500: hsl(200, 26%, 54%);
  --Slate-700: hsl(200, 24%, 40%);
  --Slate-900: hsl(202, 55%, 16%);
}

* {
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

header {
  margin: 1rem 1rem;
}

header h1 {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}

header a {
  color: var(--Slate-700);
}

main {
  margin: 1rem;
}

.form-mortage {
  margin-bottom: 2rem;
}

.form-mortage label {
  margin-left: 1rem;
}

.form-mortage input {
  border-radius: 5px;
  margin: 1rem auto;
  padding: 8px;
  border: 1px solid var(--Slate-300);
  width: 70%;
  align-self: center;
}

.form-mortage input:hover {
  cursor: pointer;
}

.form-mortage input[id="amount"] {
  padding-left: 50px;
}

.form-mortage input[id="amount"]:focus {
  outline-color: var(--Lime);
}

.form-mortage input[id="term"] {
  padding-right: 50px;
}
.form-mortage input[id="term"]:focus {
  outline-color: var(--Lime);
}

.form-mortage input[id="interest"] {
  padding-right: 50px;
}
.form-mortage input[id="interest"]:focus {
  outline-color: var(--Lime);
}

.form-mortage input[type="radio"] {
  max-width: 50px;
  accent-color: var(--Lime);
}

.form-mortage input[type="radio"]:checked {
  background-color: var(--Lime);
}

.form-mortage__span-input {
  width: 100%;
  position: relative;
  /*justify-content: center;*/
  display: inline;
  padding: 8px;
  margin: auto;
}

.form-mortage__span-input-amount::before {
  content: "€";
  font-size: 16px;
  position: absolute;
  z-index: 1;
  top: 4.5px;
  left: 9px;
  background-color: var(--Slate-100);
  padding: 5px 16px;
  border-radius: 5px 0px 0px 5px;
}

.form-mortage__span-input-amount:focus-within::before {
  background-color: var(--Lime);
}

/*
.form-mortage__span-input-amount:invalid::before {
  background-color: var(--Red);
}*/

.form-mortage__span-input-term:before {
  content: "years";
  font-size: 16px;
  position: absolute;
  z-index: 1;
  top: 4.5px;
  right: 9px;
  background-color: var(--Slate-100);
  padding: 5px 16px;
  border-radius: 0px 5px 5px 0px;
}

.form-mortage__span-input-term:focus-within::before {
  background-color: var(--Lime);
}

.form-mortage__span-input-interest:before {
  content: "%";
  font-size: 16px;
  position: absolute;
  z-index: 1;
  top: 4.5px;
  right: 9px;
  background-color: var(--Slate-100);
  padding: 5px 16px;
  border-radius: 0px 5px 5px 0px;
}

.form-mortage__span-input-interest:focus-within::before {
  background-color: var(--Lime);
}

.mortage-type {
  margin-left: 1rem;
}

.form-mortage__span-radio {
  display: block;
  border: 1px solid var(--Lime);
  border-radius: 10px;
  width: 90%;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  margin-left: 8px;
  margin-right: 8px;
}

.span-submit {
  display: block;
  width: 100%;
  text-align: center;
  margin: auto;
}

.form-mortage input[type="submit"] {
  width: 90%;
  background-color: var(--Lime);
  background-image: url("../images/icon-calculator.svg");
  background-position: 20px 12px;
  background-repeat: no-repeat;
  padding: 1rem;
  padding-left: 1.5rem;
  border-radius: 20px;
  border: none;
  align-items: center;
  align-self: center;
  margin: 0.5rem auto;
}

.result-area {
  background-color: var(--Slate-700);
  color: var(--Slate-300);
  padding: 2rem;
}

.result-area h2 {
  margin-bottom: 1rem;
  font-size: 1.2rem;
  color: var(--White);
}

.result-area p {
  margin-bottom: 1rem;
}

.final-result {
  background-color: var(--Slate-900);
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0px -3px var(--Lime);
}

.final-result h3 {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: var(--Slate-500);
}

.final-result p {
  font-size: 2rem;
  color: var(--Lime);
  border-bottom: 1px solid var(--Slate-300);
  padding-bottom: 1rem;
}

.final-result p:last-child {
  color: var(--White);
  border-bottom: none;
  padding-bottom: 1rem;
}

.plus-jakarta-sans-500 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  color: var(--Slate-700);
}

.plus-jakarta-sans-700 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.result-image {
  display: none;
}

@media only screen and (min-width: 420px) and (max-width: 768px) {
  .form-mortage input {
    width: 80%;
  }
}

@media only screen and (min-width: 769px) {
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin: auto;
    background-color: var(--Slate-300);
    height: 100vh;
  }
  .container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 20% 1fr 1fr 1fr;
    border-radius: 20px;
    background-color: var(--White);
    margin: auto;
    max-width: 1000px;
    max-height: 700px;
  }

  header {
    grid-column: 1/3;
    grid-row: 1/2;
  }

  main {
    grid-column: 1/3;
    grid-row: 2/5;
  }

  .form-mortage__span-input-amount::before {
    top: 5px;
  }

  .form-mortage__span-input-term:before {
    top: 5px;
  }

  .form-mortage__span-input-interest:before {
    top: 5px;
  }

  .result {
    grid-column: 3/5;
    grid-row: 1/5;
    background-color: var(--Slate-900);
    align-content: center;
    border-radius: 0px 20px 20px 100px;
    min-width: 450px;
    padding-left: 2rem;
  }

  .result-area {
    background-color: var(--Slate-900);
  }

  .result-image {
    display: block;
    text-align: center;
    margin: 0 auto;
  }

  .result-start-header {
    margin-top: 2rem;
    margin-bottom: 2rem;
    text-align: center;
  }

  .result-start-para {
    text-align: center;
  }

  .result-first-p {
    padding-bottom: 5rem;
  }
  .results p {
    text-align: center;
  }
}
